@mixin major-flex($jc: center) {
  display: flex;
  align-items: center;
  justify-content: $jc;
}
@mixin major-text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
